.cards-container {
    display: grid;
    gap:2rem;
    /* align-items: center;  */
    grid-auto-rows:20rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
}

.image-card {
    size: 200%;
}