.navbar {
    background: linear-gradient(to bottom, rgba(237, 226, 179, 0.843), rgba(237, 226, 179, 0.621), rgba(255, 213, 0, 0));
    display: flex;
    background-color: rgb(83, 92, 145);
    height: 53px;
}

.nav-btn-container {
    display: flex;
    width: 900px;
    align-items: center;
    flex-direction: row-reverse;
}

.nav-img img {
    height: 55px;
    width: auto;
    margin-left: 20px;
}

.nav-button {
    height: 28px;
    width: auto;
    margin-bottom: 15px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: hsl(44, 100%, 50%);
    border: 1px;
    margin: 10px;
}